VITE_API_URL=http://127.0.0.1:8000
# Example for Render static site:
# VITE_API_URL=https://sentinel-ai-backend.onrender.com
VITE_SEPOLIA_RPC=https://sepolia.infura.io/v3/c1dd5018fe0c4ea7a7dc7949f804a6c8
